.section-ba-1 {position: relative;}
.section-ba-2 {
  background-color: #222;
  background-image: url(../../../assets/img/section-ba-1.jpg);
  background-size: cover;
  position: relative;
}
.section-ba-3 {
  position: relative;
  background-color: #f1f1f1;
}
footer.layout-1 {
  background-color: #000;
  background-image: url(../../../assets/img/yoga-cats.png);
  background-size: contain;
}