@charset "UTF-8";

header {
  position: relative;
  z-index: 9;
}
header.layout-1 .header-output {
  background-color: #f6eee5;
}
header.layout-1 .header-effect {
  height: 170px;
  z-index: 2;
  position: absolute;
  left: 0;
  width: 100%;
  background-image: url(../../assets/img/header-effect.png);
}
header.layout-1 a.invitation-bot {
  display: block;
  text-align: center;
  background-color: #fd1c56;
  font-family: "Merienda", cursive;
  padding: 12px 30px;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
header .top-button {
  padding: 8px 30px;
  border-radius: 25px;
  color: #fff;
  margin-top: 16px;
  display: inline-block;
  background-color: #fd1c56;
  text-align: center;
  font-family: "Poppins";
}
header .top-button:hover {
  background-color: #a93673;
}
header.classic .top-button {
  margin-top: 8px;
}
header a.sidebar-menu-toggle {
  font-size: 25px;
}
header .up-header {
  padding: 6px 0px;
}

header.default {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
}

header a.mobile-toggle {
  display: none;
}
header .up-head {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
  font-weight: 300;
}
header .up-head ul.social-media li {
  margin-left: 8px;
}

header .header-in {
  position: relative;
  z-index: 3;
}
header ul.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 13px;
  font-family: "Merienda", cursive;
  z-index: 3;
  /*
  & > li:nth-last-child(1) > ul.sub-menu,
  & > li:nth-last-child(2) > ul.sub-menu {
      left: auto;
      right: 0
  }
  */
}
header ul.nav-menu span {
  color: #fff;
  padding: 2px 6px;
  font-size: 11px;
  margin-left: 4px;
  border-radius: 3px;
  font-family: tahoma;
  text-transform: uppercase;
}
header ul.nav-menu span.soon {
  background-color: #6aceb8;
}
header ul.nav-menu span.new {
  background-color: #fd1c56;
}
header ul.nav-menu:after {
  content: " ";
  clear: both;
  width: 100%;
}
header ul.nav-menu > li {
  display: inline-block;
}
header ul.nav-menu > li > a {
  color: #000;
  z-index: 3;
  opacity: 1;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 35px 0px 35px 0px;
  margin-right: 30px;
}
header ul.nav-menu > li :nth-last-child(1) a {
  margin-right: 0px;
}
header ul.nav-menu > li > ul.sub-menu {
  left: 0;
  text-align: left;
  position: relative;
  font-size: 13px;
  border: 1px solid #eee;
}
header ul.nav-menu > li > ul.sub-menu > li {
  position: relative;
}
header ul.nav-menu > li > ul.sub-menu > li:nth-child(even) {
  background: #fafafa;
}
header ul.nav-menu > li > ul.sub-menu > li.has-dropdown a {
  font-size: 17px;
  font-weight: 700;
}
header ul.nav-menu > li > ul.sub-menu > li.has-dropdown:after {
  content: "\f1db";
  font-family: FontAwesome;
  margin-left: 3px;
  position: absolute;
  right: 30px;
  top: 8px;
  color: #a93673;
  font-size: 8px;
}
header ul.nav-menu > li > ul.sub-menu > li.has-dropdown:hover:after {
  content: "\f111";
  font-family: FontAwesome;
  margin-left: 3px;
  position: absolute;
  right: 30px;
  top: 8px;
  color: #a93673;
  font-size: 8px;
}
header ul.nav-menu > li > ul.sub-menu > li > ul.sub-menu {
  left: 228px;
  top: 0;
  border-radius: 0px;
  position: absolute;
  border: 1px solid #e9e9e9;
}
header ul.nav-menu > li > ul.sub-menu > li > ul.sub-menu li {
  display: block;
  z-index: 3;
  position: relative;
}
header ul.nav-menu > li > ul.sub-menu > li > ul.sub-menu li:nth-child(even) {
  background: #fafafa;
}
header ul.nav-menu > li > ul.sub-menu > li > ul.sub-menu li > a {
  font-size: 14px;
  font-weight: 400;
}
header ul.nav-menu > li ul.sub-menu {
  transform: translateY(10%);
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -o-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 90px;
  width: 260px;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px !important;
}
header ul.nav-menu > li ul.sub-menu li {
  display: block;
  z-index: 3;
}
header ul.nav-menu > li ul.sub-menu li:nth-child(even) {
  background: #fafafa;
}
header ul.nav-menu > li ul.sub-menu li a {
  color: #000;
  opacity: .7;
  display: block;
  padding: 10px 20px 10px 20px;
  text-transform: capitalize;
  margin-top: -1px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
header ul.nav-menu > li ul.sub-menu li a:hover {
  color: #000;
  opacity: 1;
  padding-left: 25px;
}
header ul.nav-menu > li:nth-last-child(1) > a {
  margin-right: 0px;
}
header ul.nav-menu > li:hover > ul.sub-menu {
  border-radius: 0px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
header ul.nav-menu > li:hover > ul.sub-menu > li:hover > ul.sub-menu {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
header ul.nav-menu > li.mega-menu {
  position: inherit !important;
}
header ul.nav-menu > li.mega-menu > ul.sub-menu {
  width: 100%;
  padding: 30px;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
}
header ul.nav-menu > li.mega-menu > ul.sub-menu ul.sub-menu {
  box-shadow: none;
  border: none;
}
header ul.nav-menu > li.mega-menu > ul.sub-menu li {
  background: #fff;
}
header ul.nav-menu > li.mega-menu > ul.sub-menu li a {
  padding: 10px 0px 10px 0px;
}
header ul.nav-menu > li.mega-menu > ul.sub-menu li a:hover {
  opacity: 1;
  padding-left: 0px;
  background: none !important;
}
header ul.nav-menu > li.mega-menu > ul.sub-menu > li {
  width: 25%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
header ul.nav-menu > li.mega-menu > ul.sub-menu > li > ul.sub-menu {
  border-top: 1px solid #ccc !important;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
  position: relative;
  left: 0;
  opacity: 1;
  visibility: inherit;
  width: 100%;
}
header ul.nav-menu > li.mega-menu > ul.sub-menu > li > ul.sub-menu li:last-child a {
  border-bottom: none;
}
header ul.nav-menu > li.mega-menu > ul.sub-menu > li > ul.sub-menu li a {
  padding: 10px 0px 10px 0px;
}
header ul.nav-menu > li.mega-menu > ul.sub-menu > li > ul.sub-menu li a:hover {
  opacity: 1;
  padding-left: 0px;
  background: none !important;
}
header ul.nav-menu > li.active > a {
  color: #a93673;
}
header ul.nav-menu > li > a:hover {
  color: #a93673;
}
header ul.nav-menu > li.mega-menu > a, header ul.nav-menu > li.has-dropdown > a {
  position: relative;
}
header ul.nav-menu > li.mega-menu > a:after, header ul.nav-menu > li.has-dropdown > a:after {
  content: "\f107";
  font-family: FontAwesome;
  margin-left: 3px;
}
header ul.nav-menu > li.has-dropdown {
  position: relative;
}
header ul.nav-menu li.mega-menu:hover .mega-menu-out {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  opacity: 1;
  visibility: visible;
  display: block;
}
header ul.nav-menu .mega-menu-out {
  background-color: #fff;
  border-top: 3px solid #fd1c56;
  position: absolute;
  left: 0;
  top: 89px;
  width: 100%;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  padding-bottom: 15px;
}
header ul.nav-menu .mega-menu-out:after {
  content: " ";
  display: block;
  clear: both;
  width: 100%;
}
header ul.nav-menu .mega-menu-out .mega-menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}
header ul.nav-menu .mega-menu-out .mega-menu-list li a {
  color: #000;
  opacity: .7;
  text-transform: capitalize;
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  display: block;
}
header ul.nav-menu .mega-menu-out .mega-menu-list li a:hover {
  color: #000;
  padding-left: 5px;
}
header ul.nav-menu .mega-menu-out .mega-menu-list li a:hover:before {
  transition: all 0.4s;
  content: "\f105";
  font-family: FontAwesome;
  margin-right: 5px;
}
header ul.white-link > li > a {
  color: #fff;
  opacity: .8;
}
header ul.white-link > li > a:hover {
  color: #fff !important;
  opacity: 1;
}
header ul.white-link > li.has-dropdown {
  position: relative;
}
header ul.white-link > li.active > a:before {
  color: #fff;
}
header ul.white-link > li.active > a {
  color: #fff;
}
header ul.link-padding-tb-0px > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}
header ul.link-padding-tb-0px > li > ul.sub-menu {
  top: 25px;
}
header ul.link-padding-tb-0px .mega-menu-out {
  top: 25px;
}
header ul.link-padding-tb-35px > li > a {
  padding-top: 35px;
  padding-bottom: 35px;
}
header ul.link-padding-tb-35px > li > ul.sub-menu {
  top: 95px;
}
header ul.link-padding-tb-35px .mega-menu-out {
  top: 95px;
}
.nile-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #f6eee5;
}
.nile-preloader .logo {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  z-index: 2;
}

a.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  text-align: center;
  padding: 12px;
  border-radius: 50%;
  display: none;
}
a.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.section-title.layout-1 .discription {
  font-size: 15px;
  font-weight: 500;
  color: #434243;
}
.section-title.layout-1 h2.title {
  font-size: 50px;
  line-height: 49px;
  letter-spacing: -4px;
  font-weight: 700;
  line-height: 1.4;
  color: #a93673;
  font-family: "Merienda", cursive;
}
.section-title.layout-1 .affter {
  background-image: url(../../assets/img/section-title-after.png);
  width: 120px;
  height: 32px;
  margin: auto;
}
.section-title.layout-1.light .discription {
  color: #fff;
}
.section-title.layout-1.light h2.title {
  color: #fff;
}
.team.layout-1 {
  text-align: center;
  margin: auto 30px;
}
.team.layout-1 h2.name {
  font-size: 19px;
  font-weight: 600;
}
.team.layout-1 .img-out {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  border: 8px solid #ffffff;
}
.team.layout-1 .img-out img {
  border-radius: 50%;
  transition: .5s ease;
}
.team.layout-1 .img-out .social-media {
  position: absolute;
  bottom: -60px;
  margin: auto;
  left: 0;
  right: 0;
  width: 150px;
  padding: 0;
  text-align: center;
  border-radius: 5px;
  transition: .5s ease;
}
.team.layout-1 .img-out .social-media li {
  display: inline-block;
}
.team.layout-1 .img-out .social-media li a {
  color: #fff;
  margin: auto 3px;
  background-color: #fd1c56;
  padding: 3px;
  text-align: center;
  width: 30px;
  border-radius: 50%;
  display: block;
}
.team.layout-1:hover .img-out .social-media {
  bottom: 20px;
}
.team.layout-1:hover .img-out img {
  opacity: .5;
}
.team.layout-1 h2.name {
  margin: 15px auto 0px auto;
  font-size: 19px;
  color: #214158;
  font-family: "Merienda", cursive;
}
.team.layout-1 .dis {
  font-size: 14px;
  font-weight: 500;
  color: #525252;
}
.team-slider {
  position: relative;
  margin: auto -30px;
}
.team-slider .owl-nav {
  position: absolute;
  top: 40%;
  left: 0;
  height: 0px;
  width: 100%;
  z-index: 2;
}
.team-slider .owl-nav button {
  outline: none;
}
.team-slider .owl-nav button.owl-prev {
  transition: all 0.5s;
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  background-color: #a93673;
  color: #fff;
  border-radius: 50%;
  margin-left: -38px;
}
.team-slider .owl-nav button.owl-next {
  transition: all 0.5s;
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: block;
  float: right;
  background-color: #a93673;
  color: #fff;
  border-radius: 50%;
  margin-right: -38px;
}
.nile-content.invitation {
  background-image: url(../../assets/img/invitation-ba.png);
  background-position: top center;
  background-repeat: no-repeat;
}
.nile-content.invitation .icon {
  width: 70px;
  margin: 30px auto;
}
.nile-content.dark {
  font-size: 14px;
  font-weight: 400;
}
.nile-content.dark.cart {
  background-color: rgba(234, 252, 253, 0.12);
  padding: 40px;
  border-radius: 10px;
  border: 8px solid #eee;
}
.nile-content.dark ::placeholder {
  color: #555;
  font-size: 14px;
  opacity: .7;
  font-weight: 400;
}
.nile-content.dark input {
  color: #000;
  outline: none;
  background-color: white;
  margin-bottom: 8px;
  border: 1px solid rgba(49, 77, 98, 0.1);
  width: 100%;
  padding: 8px 18px;
  border-radius: 5px;
  outline: none;
}
.nile-content.dark textarea {
  color: #000;
  outline: none;
  background-color: white;
  margin-bottom: 5px;
  border: 1px solid rgba(49, 77, 98, 0.1);
  width: 100%;
  padding: 6px 18px;
  border-radius: 3px;
  outline: none;
}
.nile-content.dark input:focus,
.nile-content.dark textarea:focus {
  border: 1px solid rgba(49, 77, 98, 0.2);
}
.nile-content.dark a.nile-bottom {
  outline: none;
}
.nile-content.dark a.nile-bottom.sm {
  font-size: 15px;
  background-color: #6e5f7e;
  text-align: center;
  margin: 0px auto 0px auto;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 25px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}
.nile-content.dark a.nile-bottom:hover {
  background-color: #a93673;
  color: #fff;
  padding: 10px 60px;
}
.bride-item.layout-1.right {
  margin-left: 300px;
}
.bride-item.layout-1.right .img_in {
  width: 220px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  margin-left: -260px;
  float: left;
}
.bride-item.layout-1.right .img_in img {
  border-radius: 50%;
}
.bride-item.layout-1.right .content {
  padding: 55px 0px;
}
.bride-item.layout-1.right h2.name {
  font-family: "Merienda", cursive;
  font-size: 22px;
  color: #fff;
  margin-bottom: 0px;
  font-weight: 700;
}
.bride-item.layout-1.right .discription {
  font-size: 15px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 500;
}
.bride-item.layout-1.right ul.social-media {
  margin: 0px;
  padding: 0px;
}
.bride-item.layout-1.right ul.social-media li {
  display: inline-block;
}
.bride-item.layout-1.right ul.social-media li a {
  display: block;
  color: #fff;
  padding: 3px;
  width: 35px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 6px;
}
.bride-item.layout-1.left {
  margin-right: 300px;
  text-align: right;
  position: relative;
}
.bride-item.layout-1.left .line {
  height: 320px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: -315px;
  top: -40px;
}
.bride-item.layout-1.left .line .fa {
  display: block;
  color: #fff;
  background-color: #a93673;
  padding: 8px;
  width: 40px;
  margin-top: 135px;
  margin-left: -18px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 6px;
}
.bride-item.layout-1.left .img_in {
  width: 220px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  margin-right: -260px;
  float: right;
}
.bride-item.layout-1.left .img_in img {
  border-radius: 50%;
}
.bride-item.layout-1.left .content {
  padding: 55px 0px;
}
.bride-item.layout-1.left h2.name {
  font-family: "Merienda", cursive;
  font-size: 22px;
  color: #fff;
  margin-bottom: 0px;
  font-weight: 700;
}
.bride-item.layout-1.left .discription {
  font-size: 15px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 500;
}
.bride-item.layout-1.left ul.social-media {
  margin: 0px;
  padding: 0px;
}
.bride-item.layout-1.left ul.social-media li {
  display: inline-block;
}
.bride-item.layout-1.left ul.social-media li a {
  display: block;
  color: #fff;
  padding: 3px;
  width: 35px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 6px;
}
.top-effect-ba-2 {
  height: 90px;
  background-size: cover;
  position: absolute;
  display: block;
  top: 0px;
  width: 100%;
}
.bottom-effect-ba-2 {
  height: 51px;
  background-size: cover;
  position: absolute;
  display: block;
  bottom: 0px;
  width: 100%;
}

ul.time-line.layout-1 {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
}
ul.time-line.layout-1:before {
  content: " ";
  display: block;
  width: 1px;
  height: 630px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
  border-right: 1px solid #edcdc7;
}
ul.time-line.layout-1:after {
  content: " ";
  display: block;
  width: 100%;
  clear: both;
}
ul.time-line.layout-1 li {
  width: 51%;
  list-style: none;
  margin-bottom: 70px;
  float: right;
}
ul.time-line.layout-1 li .story-item {
  margin-left: 155px;
  position: relative;
  margin-right: 75px;
}
ul.time-line.layout-1 li .story-item:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #edcdc7;
  position: absolute;
  top: 40px;
  left: -151px;
}
ul.time-line.layout-1 li .story-item .icon {
  width: 85px;
  position: absolute;
  left: -280px;
  top: 0;
}
ul.time-line.layout-1 li .story-item .date {
  font-size: 12px;
  font-weight: 500;
  color: #fd1c56;
}
ul.time-line.layout-1 li .story-item h3.title {
  font-weight: 700;
  font-size: 22px;
  color: #353535;
  margin-bottom: 12px;
}
ul.time-line.layout-1 li .story-item .img_in {
  width: 90px;
  border: 8px solid #efeaea;
  border-radius: 50%;
  margin-left: -115px;
  float: left;
}
ul.time-line.layout-1 li .story-item .img_in img {
  border-radius: 50%;
}
ul.time-line.layout-1 li .story-item .discription {
  font-size: 13px;
  color: #868485;
  font-weight: 400;
}
ul.time-line.layout-1 li:nth-child(even) {
  width: 51%;
  list-style: none;
  margin-bottom: 70px;
  float: left;
  text-align: right;
}
ul.time-line.layout-1 li:nth-child(even) .story-item {
  margin-right: 155px;
  position: relative;
  margin-left: 75px;
}
ul.time-line.layout-1 li:nth-child(even) .story-item:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #edcdc7;
  position: absolute;
  top: 40px;
  right: -151px;
  left: auto;
}
ul.time-line.layout-1 li:nth-child(even) .story-item .icon {
  width: 85px;
  position: absolute;
  right: -280px;
  left: auto;
  top: 0;
}
ul.time-line.layout-1 li:nth-child(even) .story-item .date {
  font-size: 12px;
  font-weight: 500;
  color: #fd1c56;
}
ul.time-line.layout-1 li:nth-child(even) .story-item h3.title {
  font-weight: 700;
  font-size: 22px;
  color: #353535;
  margin-bottom: 12px;
}
ul.time-line.layout-1 li:nth-child(even) .story-item .img_in {
  width: 90px;
  border: 8px solid #efeaea;
  border-radius: 50%;
  margin-right: -115px;
  float: right;
}
ul.time-line.layout-1 li:nth-child(even) .story-item .img_in img {
  border-radius: 50%;
}
ul.time-line.layout-1 li:nth-child(even) .story-item .discription {
  font-size: 13px;
  color: #868485;
  font-weight: 400;
}
ul.time-line.layout-1 li:last-child {
  margin-bottom: 0px;
}

.firo-gallery-item.layout-1 {
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
}
.firo-gallery-item.layout-1 img {
  position: relative;
  display: block;
  border-radius: 15px;
}
.firo-gallery-item.layout-1:hover img {
  position: relative;
  display: block;
  border-radius: 15px;
}
.firo-gallery-item.layout-1:hover img:before {
  position: absolute;
  font-family: FontAwesome;
  content: "\f0f6";
  color: #fff;
  font-size: 22px;
  text-align: center;
  top: 50%;
  width: 100%;
  left: 0;
  z-index: 5;
}
.firo-gallery-item.layout-1:hover img:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #a93673;
  opacity: .7;
}
.wedding-date.layout-1 {
  text-align: center;
}
.wedding-date.layout-1 h2.date {
  font-size: 109px;
  font-weight: 700;
  line-height: .8;
  margin-bottom: 40px;
}
.wedding-date.layout-1 .dis {
  font-size: 17px;
  font-weight: 500;
}
.wedding-date.layout-1.light {
  color: #fff;
}
footer.layout-1 .output {
  background-color: #493e55;
}
footer.layout-1 .footer-about {
  text-align: center;
  color: #fff;
  font-weight: 500;
  float: none;
  display: block;
}
footer.layout-1 .footer-about .text {
  margin: 30px;
}
footer.layout-1 .footer-about ul.social-media {
  margin: 20px 0px 20px 0px;
  padding: 0px;
  text-align: center;
}
footer.layout-1 .footer-about ul.social-media li {
  display: inline-block;
}
footer.layout-1 .footer-about ul.social-media li a {
  display: block;
  color: #fff;
  padding: 3px;
  width: 35px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 6px;
}
footer.layout-1 .footer-about .copyright {
  font-size: 13px;
}
body {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 25px;
  background-color: #FAFAFA;
  position: relative;
}

img {
  max-width: 100%;
}

* {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
a:active,
button:active,
.btn {
  outline: none;
  text-decoration: none;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
input {
  background-color: #f9f9f9;
  padding: 5px;
  border: solid 1px #eee;
  outline: none;
}
.h1,h1 {
  font-size: 28px;
  line-height: 32px;
}
.h2,h2 {
  font-size: 23px;
  line-height: 28px;
}
.h3,h3 {
  font-size: 20px;
  line-height: 27px;
}
.h4,h4 {
  font-size: 17px;
  line-height: 21px;
}
.h5,h5 {
  font-size: 16px;
  line-height: 20px;
}
.h6,h6 {
  font-size: 13px;
  line-height: 16px;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: "Poppins";
  font-weight: 500;
}

.font-2 {
  font-family: "Poppins";
}

.font-3 {
  font-family: "Merienda", cursive;
}

.section-ba-1 {
  background-color: #f1f9ff;
}

.section-ba-2 {
  background-color: #f3f3f3;
}

.section-ba-3 {
  background-color: #edf0d6;
}

.section-ba-4 {
  background-color: #f3f3f3;
}
/*--- Global Background ---*/
.background-main-color {
  background-color: #a93673;
}
.background-second-color {
  background-color: #fd1c56;
}
.background-third-color {
  background-color: #f68119;
}
.background-white {
  background-color: #fff;
}

/*--- Box Shadow ---*/
.box-shadow {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
}

.box-shadow-hover:hover {
  -webkit-box-shadow: 0px 0px 18px -8px #858585;
  -moz-box-shadow: 0px 0px 18px -8px #858585;
  box-shadow: 0px 0px 18px -8px #858585;
}
.position-relative {
  position: relative;
}
.position-inherit {
  position: inherit;
}
.padding-tb-35px {
  padding-top: 35px;
  padding-bottom: 35px;
}
.padding-tb-100px {
  padding-top: 100px;
  padding-bottom: 100px;
}
.padding-tb-130px {
  padding-top: 130px;
  padding-bottom: 130px;
}
.padding-top-100px {
  padding-top: 100px;
}
.padding-top-150px {
  padding-top: 150px;
}
.padding-top-200px {
  padding-top: 200px;
}
.padding-bottom-130px {
  padding-bottom: 130px;
}
.padding-bottom-200px {
  padding-bottom: 200px;
}
.margin-tb-15px {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-tb-25px {
  margin-top: 25px;
  margin-bottom: 25px;
}
/* Section Style */
section .section-title {
  text-align: center;
  margin-bottom: 60px;
}

section .section-title h1 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 25px;
  color: #f68119;
}

section .section-title h1 span {
  color: #a93673;
}

section .section-title span.section-title-des {
  position: relative;
  display: block;
}

section .section-title-left span.section-title-des:after {
  text-align: left;
  content: "  ";
  position: relative;
  display: block;
  width: 65px;
  height: 10px;
  border-bottom: solid 1px #fd1c56;
}

section .section-title-center span.section-title-des:after {
  content: "  ";
  position: relative;
  display: block;
  width: 65px;
  height: 10px;
  border-bottom: solid 1px #fd1c56;
  margin: auto;
}
/*-----------------------------------
/ Owl Slider Style        -----------
------------------------------------*/
.owl-theme .owl-controls .owl-page span {
  border-radius: 0;
  margin: 10px 10px 10px 0px;
  border-radius: 15px;
  background-color: #fd1c56;
  border: 1px solid #fd1c56;
}

@-webkit-keyframes color-fade {
  0% {
    background: #9a5342;
  }
  25% {
    background: #81b441;
  }
  50% {
    background: #e46d00;
  }
  75% {
    background: #ff3506;
  }
  100% {
    background: #9a5342;
  }
}
@-moz-keyframes color-fade {
  0% {
    background: #9a5342;
  }
  25% {
    background: #81b441;
  }
  50% {
    background: #e46d00;
  }
  75% {
    background: #ff3506;
  }
  100% {
    background: #9a5342;
  }
}
@keyframes color-fade {
  0% {
    background: #9a5342;
  }
  25% {
    background: #81b441;
  }
  50% {
    background: #e46d00;
  }
  75% {
    background: #ff3506;
  }
  100% {
    background: #9a5342;
  }
}

 .form-control-lg,
 .input-group-lg > .form-control,
 .input-group-lg > .input-group-addon,
 .input-group-lg > .input-group-btn > .btn {
  font-size: 15px;
  text-transform: lowercase;
  font-weight: 300;
  padding: 15px 25px 15px 25px;
  font-family: "Poppins";
}

@media only screen and (max-width: 991px) {
  header.layout-1 a.mobile-toggle {
    margin: 25px 10px;
  }
  .owl-nav {
    display: none;
  }
  .save-date .date {
    font-family: "Dosis";
    font-size: 40px;
  }
  header a.mobile-toggle {
    margin: 10px;
    font-size: 20px;
    padding: 14px 17px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    border-radius: 50%;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .nile-title.layout-1 h2,
  .title-large,
  .page-title.layout-1 h1.title,
  .page-title ul.breadcrumbs {
    margin-top: 8px;
  }
  header.sm-ba-main {
    background-color: #a93673;
  }
  header #menu-main {
    display: none;
  }
  header ul.nav-menu > li {
    float: none;
    display: block;
  }
  header ul.nav-menu > li > a {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 0px;
  }
  header ul.nav-menu > li ul {
    display: none;
  }
  header ul.nav-menu > li > ul.sub-menu {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
    top: auto;
    width: 100%;
    position: relative;
    visibility: inherit;
    opacity: 1;
    display: none;
  }
  header ul.nav-menu > li > ul.sub-menu > li > ul.sub-menu {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
    left: auto;
    top: auto;
    width: 100%;
    position: relative;
    visibility: inherit;
    opacity: 1;
  }
  header ul.nav-menu > li.has-dropdown > a:after,
  header ul.nav-menu > li.mega-menu > a:after {
    position: absolute;
    right: 5px;
    margin-left: 0px;
  }
  header ul.nav-menu .mega-menu-out {
    top: auto;
    width: 100%;
    position: relative;
    visibility: inherit;
    opacity: 1;
    padding: 0px;
    border: none;
  }
  header ul.nav-menu .mega-links-4columns ul.sub-menu-columns {
    padding: 10px 0 10px;
  }
  header ul.nav-menu .mega-links-4columns ul.sub-menu-columns > li {
    width: 100%;
    position: relative;
  }
  header ul.nav-menu .mega-links-4columns ul.sub-menu-columns > li > a::after {
    font-family: "Font Awesome 5 Solid";
    content: "\f107";
    display: none;
  }
  header ul.nav-menu .mega-links-4columns ul.sub-menu-columns > li .svg-inline--fa {
    margin-left: 0.5em;
    opacity: .4;
    position: absolute;
    right: 20px;
    margin-left: 0px;
  }

  a.go-top {
    right: 10px;
    position: fixed;
    bottom: 2em;
    right: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 8px 12px;
    border-radius: 50%;
    z-index: 9;
  }
  /*Funciona*/
  .sm-mb-35px {
    margin-bottom: 35px !important;
  }

  .page-title.layout-1 h1,
  .page-title.layout-1 ul.breadcrumbs {
    float: none;
    display: block;
    text-align: center;
  }

  footer .copy-text {
    text-align: center;
    margin-bottom: 25px;
  }
  ul.time-line.layout-1:before {
    display: none;
  }
  ul.time-line.layout-1 li,
  ul.time-line.layout-1 li:nth-child(even) {
    width: 100%;
    margin-bottom: 40px;
    float: none;
    display: block;
    text-align: center;
  }
  ul.time-line.layout-1 li .story-item,
  ul.time-line.layout-1 li:nth-child(even) .story-item {
    margin-left: 0px;
    margin-right: 0px;
  }
  ul.time-line.layout-1 li .story-item:after,
  ul.time-line.layout-1 li:nth-child(even) .story-item:after {
    display: none;
  }
  ul.time-line.layout-1 li .story-item .icon,
  ul.time-line.layout-1 li:nth-child(even) .story-item .icon {
    width: 85px;
    margin: auto;
    left: 0px;
    top: 0;
    display: none;
  }
  ul.time-line.layout-1 li .story-item .date,
  ul.time-line.layout-1 li:nth-child(even) .story-item .date {
    font-size: 12px;
    font-weight: 500;
    color: #fd1c56;
  }
  ul.time-line.layout-1 li .story-item h3.title,
  ul.time-line.layout-1 li:nth-child(even) .story-item h3.title {
    font-weight: 700;
    font-size: 22px;
    color: #353535;
    margin-bottom: 12px;
  }
  ul.time-line.layout-1 li .story-item .img_in,
  ul.time-line.layout-1 li:nth-child(even) .story-item .img_in {
    width: 90px;
    border: 8px solid #efeaea;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }
  ul.time-line.layout-1 li .story-item .img_in img,
  ul.time-line.layout-1 li:nth-child(even) .story-item .img_in img {
    border-radius: 50%;
  }

  .bride-item.layout-1.right, .bride-item.layout-1.left {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    margin-bottom: 30px;
  }
  .bride-item.layout-1.right .img_in, .bride-item.layout-1.left .img_in {
    width: 220px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.2);
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }
  .bride-item.layout-1.right .img_in img, .bride-item.layout-1.left .img_in img {
    border-radius: 50%;
  }
  .bride-item.layout-1.right .content, .bride-item.layout-1.left .content {
    padding: 0px 0px;
  }
  .bride-item.layout-1.right h2.name, .bride-item.layout-1.left h2.name {
    font-family: "Merienda", cursive;
    font-size: 22px;
    color: #fff;
    margin-bottom: 0px;
    font-weight: 700;
  }
  .bride-item.layout-1.right .discription, .bride-item.layout-1.left .discription {
    font-size: 15px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 500;
  }
  .bride-item.layout-1.right ul.social-media, .bride-item.layout-1.left ul.social-media {
    margin: 0px;
    padding: 0px;
  }
  .bride-item.layout-1.right ul.social-media li, .bride-item.layout-1.left ul.social-media li {
    display: inline-block;
  }
  .bride-item.layout-1.right ul.social-media li a, .bride-item.layout-1.left ul.social-media li a {
    display: block;
    color: #fff;
    padding: 3px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 6px;
  }

  .bride-item.layout-1.left .line {
    display: none;
  }

  .wedding-date.layout-1 h2.date {
    font-size: 35px;
  }

  .team-slider {
    margin: 0px;
  }
}
@media only screen and (max-width: 450px) {
  .section-title .h2:before {
    display: none;
  }
  .section-title .h2:after {
    display: none;
  }
}
@media only screen and (max-width: 426px) {
}

/*# sourceMappingURL=style.css.map */
